<div id="app">
    <ion-header>
        <ion-back-button defaultHref="/main"></ion-back-button>
        <ion-title>Restore Password</ion-title>
    </ion-header>
    <div id="app-content">
        <div class="form">
            <ion-item id="user-email">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email"></ion-input>
            </ion-item>
        </div>

        <ion-button expand="block" (click)="restorePassword()">Send email</ion-button>

        <div class="links">
            <a href="/login">
                <ion-icon name="person-add"></ion-icon>
                Log in
            </a>

            <a href="/register">
                <ion-icon name="person-add"></ion-icon>
                Register
            </a>
        </div>
    </div>
</div>
