<div id="app">
    <ion-header>
        <ion-title>Add Task</ion-title>
        <ion-menu-button menu="main-menu">
            <ion-img class="user-pic" [src]="user && user.image ? user.image : userService.userPlaceholder"></ion-img>
        </ion-menu-button>
    </ion-header>
    <div id="app-content">
        <h1 class="task-title">{{ task.title }}</h1>
        <div class="task-description-wrapper">
            <div class="task-description">{{ task.description }}</div>
        </div>

        <h1 *ngIf="task.images?.length">Images</h1>

        <div class="images">
            <ion-img class="image" *ngFor="let image of task.images" [src]="image.src" [ngStyle]="{objectFit: image.objectFit}"></ion-img>
        </div>
    </div>
</div>
