:host {
  position: relative;
  width: 100%;
  height: 100%;

  --toolbar-height: 5rem;
}

#app-content {
  padding: 0;
  overflow: hidden;
}

.content {
  width: 100%;
  height: calc(100% - var(--toolbar-height));
  padding: 1rem;
  padding-bottom: 7rem;

  overflow: auto;
}

.overlay-add-task-container {
  position: absolute;
  inset: 0;
  top: auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: var(--toolbar-height);
  padding: 1rem;

  background-image: linear-gradient(0deg, #183f5e, #2486b1);
}

.tasks {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  font-size: 1.1rem;
}

.no-tasks {
  width: var(--fit-content);

  margin: auto;

  background-color: #06f;
  border-radius: 1em;
  padding: 1rem;

  box-shadow:
  0 0 0.8em 0 #0009,
  0 0 0.5em 0 #fff9 inset
  ;

  font-size: 1.2rem;
}

.task {
  width: 100%;
  display: grid;
}

.task > .wrapper1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7em 1em;

  background-color: #06f;
  border-radius: 1em;
  box-shadow:
  0 0 0.8em 0 #0009,
  0 0 0.5em 0 #fff9 inset
  ;

  font-size: 1.2rem;
  cursor: pointer;

  transition:
  box-shadow 0.3s,
  background-color 0.3s
  ;
}

.task > .wrapper1:active {
  box-shadow:
  0 0 1em 0 #0009,
  0 0 1em 0 #000c inset
  ;

  background-color: #0c1830;
}

.task > .wrapper1,
.task > .wrapper2 {
  grid-row:    1 / span 1;
  grid-column: 1 / span 1;

  /* Avoid 'min-width' auto calculation of flex and grid  */
  min-width: 0;
}

.task > .wrapper2 {
  display: flex;
  align-items: center;
  padding: 0.7em 1em;
}


.task-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 1.6rem * 4);
  overflow: hidden;
}

.task-buttons {
  display: flex;
  gap: 0.4em;

  margin-left: auto;

  font-size: 1.2em;
}

.task-buttons > ion-icon {
  box-shadow:
  0 0 0.3em 0 #adfeff inset,
  0 0 0.3em 0 #0009
  ;
  background-color: #0005;
  border-radius: 50%;
  padding: 0.3em;

  font-size: 1.3em;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.task-buttons > ion-icon:active {
  box-shadow: 0 0 1em 0 #0f1f2c inset;
}


.edit {
  color: #f1900d;
}

.delete {
  color: #f00;
}

.sort-tasks-select {

}

ion-select {
  background-color: #1076be;
  box-shadow: #0005 0 0 14px 0;
  border-radius: 0.3em;

  column-gap: 0.4em;
  padding-right: 8px;
}

ion-select::part(placeholder) {
  opacity: 1;
  color: #ccc;
}
