<div id="app">
    <ion-header>
        <ion-title>My Tasks</ion-title>
        <ion-menu-button menu="main-menu">
            <ion-img class="user-pic" [src]="user && user.image ? user.image : userService.userPlaceholder"></ion-img>
        </ion-menu-button>
    </ion-header>
    <div id="app-content">
        <div class="content">
            <div class="tasks">
                <div class="no-tasks" *ngIf="tasks.length === 0">There's no tasks yet</div>
                <div class="task" *ngFor="let task of tasks" (click)="viewTask(task)">
                    <div class="wrapper1">
                        <div class="task-title">{{ task.title }}</div>
                    </div>
                    <div class="wrapper2 no-self-events">
                        <div class="task-buttons" (click)="$event.stopPropagation()">
                            <ion-icon class="edit"   name="pencil-outline" (click)="editTask(task)"></ion-icon>
                            <ion-icon class="delete" name="trash-outline"  (click)="deleteTask(task)"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Float button -->
        <div class="overlay-add-task-container">
            <ion-select class="sort-tasks-select" [(ngModel)]="currentSortOption" (ionChange)="sortTasksByOption($event)" [interfaceOptions]="{header: 'Sorting Method'}" placeholder="Sorting Method">
                <ion-select-option *ngFor="let option of Object.values(sortingOptions)" [value]="option.value">{{option.uiValue}}</ion-select-option>
            </ion-select>
            <ion-fab-button class="add-task" (click)="addTask()">+</ion-fab-button>
        </div>
    </div>
</div>
